<div class="container text-center my-5">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <p>Thank you for your purchase.</p>
    <hr>
    <p class="mb-0">Your payment has been processed successfully: <%= @payment_intent_status %></p>
  </div>
  <%= link_to "Back to events", root_path, class: "btn btn-primary" %>
</div>
